<!--Add code to display the navbar and then reuse it in all other templates-->

<header>
    <div class="w-screen bg-indigo-900 p-5 flex justify-between">
        <div class="flex text-white">
            <h1 class="self-center">
                <a href="/"><%=settingsRow[0].blog_title%></a>
            </h1>
        </div>
        <div class="text-white">
            <h2><%=settingsRow[0].blog_subtitle%></h2>
            <h3 class="text-right">By: <%=settingsRow[0].user_name%></h3>
        </div>
    </div>
    <div class="w-screen bg-indigo-950 p-5 align-middle">
        <div class="flex justify-between text-white">
            <!-- Display different links based on whether the user is authenticated or not-->
            <% if (req.user) {%>
            <h3>Hello <%=req.user.user_name%></h3>
            <div class="flex">
                <a class="text-white mr-5" href="/">Homepage</a>
                <% if (req.user.user_role==="Author" ) { %>
                <a class="text-right mr-5" href="/dashboard">Dashboard</a>
                <%} %>
                <a class="text-right mr-5" href="/dashboard/settings">Settings</a>
                <a class="text-white" href="/logout/">Log out</a>
            </div>
            <%} else {%>
            <div class="flex w-full sign-in justify-end">
                <a class="text-right" href="/login/">Log In</a>
                <a class="text-right ml-5" href="/register/">Register</a>
            </div>
            <%}%>
        </div>
    </div>
</header>
