<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%=title%> - Log In</title>
    </head>

    <body>
        <form action="login" method="post">
            <label for="username">User Name:</label>
            <input type="text" name="username" id="login_username" />
            <label for="email">E-mail:</label>
            <input type="text" name="email" id="login_email" />
            <label for="password">Password:</label>
            <input type="password" name="password" id="login_password" />
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
