<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Blog Settings</title>
    </head>
    <body>
        <h1>Settings Page</h1>
        <form method="post" action="/dashboard/settings" class="settings-container">
            <% rows.forEach (row => { %>
            <label for="blog_title">Blog Title:</label>
            <input
                required
                type="text"
                name="blog_title"
                value="<%=row.blog_title%>"
            />
            <label for="blog_subtitle">Blog Subtitle:</label>
            <input
                required
                type="text"
                name="blog_subtitle"
                value="<%=row.blog_subtitle%>"
            />
            <label for="author_name">Author Name:</label>
            <input
                required
                type="text"
                name="author_name"
                value="<%=row.author_name%>"
            />
            <input type="submit" value="Save Changes" />

            <% })%>
        </form>
    </body>
</html>
