<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!--Express Validator Failure Messages-->
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li>Error: <%=error.msg %></li>
        <% }) %> <% } %>

        <!--Express Flash Messages-->
        <% if (messages.failure_msg) { %> <% %>
        <li>Error: <%=messages.failure_msg %>.</li>
        <% } %> <% if (messages.success_msg) { %> <% %>
        <li><%=messages.success_msg %>.</li>
        <% } %>

        <form action="/dashboard/change_password" method="post">
            <input type="password" name="old_password" />
            <input type="password" name="new_password" />
            <input type="password" name="confirm_new_password" />
            <input type="submit" value="Confirm Password Change" />
        </form>
    </body>
</html>
